# Setup displays
# TODO: Configure this section

picom &
nm-applet &
udiskie -t &        # Auto-mount devices
~/.fehbg &          # Restores the most recently set wallpaper
volumeicon &        # Volume tray icon
cbatticon &         # Battery tray icon
