# Keyboard
xset r rate 480 48  # xset r <repeat-delay> <repeat-rate>

# Setup displays
$HOME/archiac/scripts/configure-display.sh

# Launch applications
picom --experimental-backends -b
nm-applet &
udiskie -t &        # Auto-mount devices
~/.fehbg &          # Restores the most recently set wallpaper
volumeicon &        # Volume tray icon
cbatticon &         # Battery tray icon
flameshot &         # Screenshot tool
